/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); */

/* :root {
    --line-border-fill: #09a95e;
    --line-border-empty: #383838;
} */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}
/* -------------------Progress bar steps-------------------------- */
.progress-container {
    /* max-width: 100%; */
    width: 350px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}
/* -------------------Progress-bar Line-------------------------- */

.progress-container::before {
    content: '';
    background-color: #383838;
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    width: 100%;
    z-index: -1;
}
.progress {
    background-color: #09a95e;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3px;
    width: 0%;
    z-index: -1;
    transition: 0.5s ease;
}
/* -------------------Progress bar step's shape-------------------------- */

.circle {
    background-color: white;
    color: #383838;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #383838;
    border-radius: 35%;
    transition: 0.5s ease;
}
.circle.active {
    border-color: #09a95e;
}

/* -------------------Buttons---------------------------- */
.btn {
    background-color: #09a95e;
    color: aliceblue;
    border: 0;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 5px;
    cursor: pointer;
}
.btn:active {
    transform: scale(0.98);
}
.btn:focus {
    outline: 0;
}
.btn:disabled {
    background-color: #383838;
    cursor: not-allowed;
}
